* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#nav-list a {
    color: #3f464a;
    text-align: center;
    font-size: 1.2em;
    background-color: rgb(240, 204, 204);
}

#navbarNav {
    margin-top: 5px;
}


.row {
    width: 100%;
}

.container {
    border: 2px solid black;
    background-color: #dddddd;
    margin: 10px 5px 5px 10px;
    max-width: 100%;
}
.container .name {
    color: #102028;
    text-decoration: none;
    font-size: 1.4em;
    text-align: center;
}

.container .description {
    color: #102028;
    text-decoration: none
}